body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: lightseagreen;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2; /* witte tekstkleur */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd; /* lichtgrijze achtergrondkleur bij hover */
    color: black;
}
header {
    background-color: lightseagreen;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.info {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

button {
    background-color: lightseagreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#ddd;
}

footer {
    background-color:lightseagreen;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#logoutBtn {
    float: right; /* Knop naar rechts uitlijnen */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  #logoutBtn:hover {
    transform: translateY(-5px);
  }