body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Lichtblauwe achtergrond */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff; /* Witte achtergrond */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333; /* Donkergrijs */
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Lichtgrijs */
    border-radius: 4px;
}

button {
    background-color: #007bff; /* Blauw */
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Donkerblauw bij hover */
}
